<div class="row">
  <div class="columns small-12">

    <div class="panel">
      <h3>About me</h3>
    </div>

    <div class="panel">
      <h3>What I'm reading</h3>
      <div id="ShelfariWidget265733">
        <a href='http://www.shelfari.com/'>Shelfari: Book reviews on your book blog</a>
        <script src="http://www.shelfari.com/ws/265733/widget.js?r=99553" type="text/javascript" language="javascript"></script>
      </div>
    </div>

    <div class="panel">
      <h3>What I'm listening to</h3>
      <iframe src="https://embed.spotify.com/?uri=spotify%3Auser%3Aspotify%3Aplaylist%3A2ikvjqFDwalfKdCHkxn79O" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
    </div>
  </div>
</div>
