<div class="row">
  <div class="columns small-12">
    <div class="panel">
      <h3>
        About me
        <a href="https://www.facebook.com/nicole.felch" target="blank">
          <%= image_tag "facebook.png", class: "icon" %>
        </a>
        <a href="https://www.linkedin.com/in/nicolefelch/" target="blank">
          <%= image_tag "linkedin.png", class:"icon" %>
        </a>
      </h3>
      <p>Hi I'm Nicole and this is my blog. I made it myself with Ruby on Rails</p>
    </div>

    <div class="panel">
      <h3>What I'm reading</h3>
      <div id="ShelfariWidget265733">
        <a href='http://www.shelfari.com/'>Shelfari: Book reviews on your book blog</a>
        <script src="http://www.shelfari.com/ws/265733/widget.js?r=99553" type="text/javascript" language="javascript"></script>
      </div>
    </div>

    <div class="panel">
      <h3>What I'm listening to</h3>
      <a href="http://www.last.fm/user/nf1213/?chartstyle=Insomniac"><img src="http://imagegen.last.fm/Insomniac/recenttracks/nf1213.gif" border="0" alt="nf1213's Profile Page" /></a>
    </div>

    <div class="panel">
      <h3>My cat - <a href="http://instagram.com/tuckietucker" target='blank'>Instagram - Tuckietucker</a></h3>
      <% @client.user_recent_media.each do |item| %>
        <%= render html: (@client.oembed(item.link).html).html_safe %>
      <% end %>
    </div>
  </div>
</div>
