<div class="row">
  <div class="columns small-12">

    <div class="panel">
      <h3>About me</h3>
    </div>

    <div class="panel">
      <h3>What I'm reading</h3>
      <div id="ShelfariWidget265733">
        <a href='http://www.shelfari.com/'>Shelfari: Book reviews on your book blog</a>
        <script src="http://www.shelfari.com/ws/265733/widget.js?r=99553" type="text/javascript" language="javascript"></script>
      </div>
    </div>

    <div class="panel">
      <h3>What I'm listening to</h3>
      <a href="http://www.last.fm/user/nf1213/?chartstyle=Insomniac"><img src="http://imagegen.last.fm/Insomniac/recenttracks/nf1213.gif" border="0" alt="nf1213's Profile Page" /></a>
    </div>
  </div>
</div>
