<div class="row">
  <div class="columns small-12">
    <% @posts.each do |p| %>
      <div class="panel">
        <h3><%= link_to emojify(p.subject), post_path(p) %></h3>
      </div>
    <% end %>
  </div>
</div>
